PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:3000
MONGO_URL=mongodb://localhost:27017/_your_db_name
# You can chage the following to anything
JWT_ACCOUNT_ACTIVATION=uz5eetbeZn3ZbVBJK3gj
JWT_SECRET=TudXVG4QhwszS4gQ
JWT_RESET_PASSWORD=htGX4PEs7HRS59nWkMBh
# you will need your gmail email
EMAIL=
# and you app password from gmail
EMAIL_PASS=